.application_wrapper{
    max-width: 100%;
    background-color: #E2F0EA;
}

.application_wrapper .application_section{
    max-width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.application_wrapper .application_section .application .application_section_detail{
    margin-left: 220px;
}

.application_wrapper .application_section .application .application_img{
    margin-left: 62px;
}

.application_wrapper .application_section .application .application_section_detail .application_title{
    margin-top: 20px;
}

.application_wrapper .application_section .application .application_section_detail .application_title p {
     font-size: 48px;
     font-family: 'Inter', sans-serif;
     font-weight: 500;
     line-height: 60px;
     width: 113%;
}

.application_wrapper .application_section .application .application_section_detail .application_para p{
    width: 82%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 20px;

}

.application_wrapper .application_section .application .application_section_detail .app_download {
    margin-top: 30px;
}

.application_wrapper .application_section .application .application_section_detail .app_download .appstore{
    margin-left: 20px;
}

@media only screen and (max-width:1360px) {
    .application_wrapper .application_section .application .application_section_detail{
        margin-left: 200px;
    }

    .application_wrapper .application_section .application .application_section_detail .application_title p {
       width: 120%;
   }

   .application_wrapper .application_section .application .application_section_detail .application_para p{
      width: 88%;
  }

  .application_wrapper .application_section .application .application_img{
    margin-left: 84px;
}
}

@media only screen and (max-width:1280px) {
    .application_wrapper .application_section .application .application_section_detail{
        margin-left: 154px;
    }

    .application_wrapper .application_section .application .application_section_detail .application_title p {
       width: 130%;
   }

   .application_wrapper .application_section .application .application_section_detail .application_para p{
      width: 99%;
  }

  .application_wrapper .application_section .application .application_img{
    margin-left: 120px;
}
}


@media only screen and (max-width:1200px){
    .application_wrapper .application_section .application .application_section_detail{
        margin-left: 106px;
    }

    .application_wrapper .application_section .application .application_section_detail .application_title p {
       width: 140%;
   }

   .application_wrapper .application_section .application .application_img{
    margin-left: 160px;
}

 
}

@media only screen and (max-width:1024px){
    .application_wrapper .application_section .application .application_section_detail{
        margin-left: 134px;
    }

    .application_wrapper .application_section .application .application_section_detail .application_title p {
        font-size: 29px;
        line-height: 35px;
        width: 100%;
   }

   .application_wrapper .application_section .application .application_img{
    margin-left: 0px;
}

.application_wrapper .application_section .application .application_section_detail .application_para p{
    width: 100%;
    font-size: 13px;
}

 
}

@media only screen and (max-width:991px){
    .application_wrapper .application_section .application .application_section_detail{
        margin-left: 30px;
    }

    .application_wrapper .application_section .application .application_section_detail .application_title p {
        font-size: 32px;
        line-height: 37px;
        width: 81%;
   }

   .application_wrapper .application_section .application .application_img{
    margin-left: 0px;
}
.application_wrapper .application_section .application .application_img img{
    margin-left: 30px;
    margin-top: 30px;
}

.application_wrapper .application_section .application .application_section_detail .application_para p{
    width: 67%;
    font-size: 16px;
}

 
}

@media only screen and (max-width: 820px){
    .application_wrapper .application_section .application .application_section_detail .application_title p {
       
        width: 100%;
      
   }

   .application_wrapper .application_section .application .application_section_detail .application_para p{
    width: 77%;
    
}
}



@media only screen and (max-width: 768px) {
    .application_wrapper .application_section .application .application_section_detail{
       margin: auto;
    }

    .application_wrapper .application_section .application .application_img{
        margin: auto;
    }

    .application_wrapper .application_section .application .application_section_detail .application_title p {
        font-size: 29px;
        line-height: 30px;
        width: 90%;
      
   }

   .application_wrapper .application_section .application .application_section_detail .application_para p{
 
    font-size: 16px;
    width: 90%;
}
  
   .application_wrapper .application_section .application .application_img img{
    margin-top: 20px;
    margin-left: 0;
   }

  }

  @media only screen and (max-width:576px) {

    

    .application_wrapper .application_section .application .application_img img{
        margin-top: 20px;
        margin-left: 0;
       }

    .application_wrapper .application_section .application .application_section_detail .application_title p {
        font-size: 24px;
        line-height: 23px;
      
   }

   .application_wrapper .application_section .application .application_section_detail .application_para p{
 
    font-size: 16px;
}
  }

 

  @media only screen and (max-width:481px) {

    


    .application_wrapper .application_section .application .application_section_detail .application_title p {
        font-size: 30px;
        line-height: 30px;
      
   }

   .application_wrapper .application_section .application .application_section_detail .application_para p{
 
    font-size: 15px;
}
  }

  @media only screen and (max-width:320px) {
    .application_wrapper .application_section .application .application_img img{
        width: 50%;
        margin-left: 0;
       }

    .application_wrapper .application_section .application .application_section_detail .application_title p {
        font-size: 20px;
        line-height: 23px;
      
     }

   .application_wrapper .application_section .application .application_section_detail .application_para p{
      font-size: 14px;
   
    }
    .application_wrapper .application_section .application .application_section_detail .app_download .appstore{
        margin-left: 0;
    }
  }

